@using DataAccessLayer.entities
@{
    ViewData["Title"] = "Edit";
}

@model Librarian

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ms-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Delete Librarian</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="ID" hidden />
            <div class="form-group">
                <div asp-validation-summary="All"></div>
                <label asp-for="First_Name" for="inputFirstName"></label>
                <input asp-for="First_Name" disabled class="form-control" id="inputFirstName">

            </div>
            <div class="form-group">
                <label asp-for="Last_Name" for="inputLastName"></label>
                <input asp-for="Last_Name" disabled class="form-control" id="inputLastName">


            </div>
            <div class="form-group">
                <label asp-for="Email" for="exampleInputEmail1"></label>
                <input asp-for="Email" disabled type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>


            </div>

            <div class="form-group">
                <label asp-for="Phone" for="inputPhone"></label>
                <input asp-for="Phone" disabled class="form-control" id="inputPhone">


            </div>


            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp-controller="Librarian" asp-action="Index" class="btn btn-secondary border form-control">
                        Back To List
                    </a>
                </div>
            </div>

        </form>

    </div>



